<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update GrandMaster</title>
</head>
<body>
<form  th:object="${grandMaster}" th:action="@{/grandMaster/}"  method="post">
  <input type="hidden" th:field="*{id}"/>

  <div class="panel-heading">
    <h1 class="panel-title">Edit GrandMaster Information</h1>

  </div>
  <div class="col-md-3 form-group">
    <label>Name of GrandMaster:</label>
    <input type="text" class="form-control" th:field="*{name}"/>
  </div>

  </div>
  <div class="col-md-3 form-group">
    <label>AGE of GrandMaster:</label>
    <input type="text" class="form-control" th:field="*{age}"/>
  </div>
  </div>
  <div class="col-md-3 form-group">
    <label>Planet of GrandMaster:</label>
    <input type="text" class="form-control" th:field="*{planet}"/>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>